<div class = "newmemoryheader">
<h1>New Memories</h1>
</div>
<div class = "newmemoryform">
<p class = "newmemoryformdescription"><strong>You can create a new memory</strong></p>
<%= simple_form_for [@memorybox, @memory] do |f| %>
  <%= f.input :title %>
  <%= f.input :text %>
  <%= f.input :media, as: :file %>
  <%= f.input :date_of_memory %>
  <%= f.submit "Submit memory", class: "btn btn-primary" %>
<% end %>
  </div>

<%= link_to "return to memory box", ownmemories_path %>
